
# the name of the grammar's scope - validation with linter-autocomplete-jing requires a name starting with text.xml.
'scopeName': 'text.xml.demoxy'

# the name of the grammar (displayed in Atom's grammar selector in the bottom toolbar)
'name': 'DEMO XY XML'

# an array of file extensions associated with this grammar
'fileTypes': [
  'demoxyext'
]

# include the patterns from text.xml
'patterns': [
  {
    'include': 'text.xml'
  }
]
